mat-toolbar{
  border-radius: 8px;
}
.spec {
  flex: 1 1 auto;
}
mat-sidenav-container {
  height: 100vh;
}
mat-sidenav {
  width: 250px;
  background-color: #002a5f;
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 2px;
  border-radius: 10px;
}
main {
  padding: 0.8rem;
  min-height: calc(100vh - 60px);
  background-color: #fff;
}
.child-item {
  padding-inline-start: 10px !important;
}
a {
  text-decoration: none;
}
.arrow-child{
  margin-inline-start: 25px;
}
mat-icon {
  color: rgb(255, 255, 255);
  margin-inline-end: 10px;
}
.item-text {
  color: #fff;
  font-weight: 500;
}
.contentRout{
  padding: 1rem;
  border-radius: 8px;
}
mat-list-item:hover{
  background: rgba(228, 228, 228, 0.233);
  transition: 0.4s;
  border-radius: 10px;
}
.menuCp{
  color:rgb(0 42 95);
}
.projName {
  font-weight: 600;
}
.logOutIcon .mat-icon{
  color: rgba(0, 0, 0, 0.473);
}
.logOutIcon .mat-icon:hover{
  color: black;
  cursor: pointer;
  transition: 1s;
}
