<section>
  <section>
    <main>
      <div class="img_bg"></div>
      <div class="textmain">
        <div class="uppertext"> Startup </div>
        <div class="section-subtitle">Welcome in startup</div>
        <button [routerLink]="['/startup/add-startup']" class="addbtn">Add New</button>
      </div>
    </main>
  </section>
  <div class="flexbox" id="about" *ngIf="!loading">
    <div class="wrapper " *ngFor="let startup of listOfStartups">
      <div class=" align-items-center boxR">
        <div class="">
          <img [src]="startup.logo" class="imglogo">
        </div>
        <div class="col-md-7 col-lg-8">
          <h6 class="section-subtitle mb-3">Startup Name: <h1>{{startup.name}}</h1>
          </h6>
          <h6 class="section-subtitle mb-3">Founder Name: <h1>{{startup.FounderName}}</h1>
          </h6>
          <h6 class="section-subtitle mb-3">Email: <h1>{{startup.emailAddress}}</h1>
          </h6>
          <h6 class="section-subtitle mb-3">City: <h1>{{startup.city}}</h1>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="textH">
    <h1 class="intext">Total Of Startups : {{totalcompany}}</h1>
  </div>
</section>
