.img-wrapper {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 30px;
  display: block;
  display: block;

  img {
      position: relative;
      width: 100%;
      z-index: 8;
  }

  .overlay {
      background: darken(rgba($primary,.7),10%);
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 100%;
      z-index: 9;
      visibility: hidden;
      opacity: 0;
      @include transition(all,.4s);

      .overlay-infos {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%,-50%);
          @include transition(all,.3s);
          transition-delay: .2s;
          color: $white;

          h5 {
              margin-bottom: 15px;
          }

          a {
              display: inline-block;
              @include circle(35);
              border: 2px solid $white;
              line-height: 35px;
              text-align: center;
              color: $white;
              text-decoration: none;

              &:hover {
                  background: $white;
                  color: $primary;
              }
          }
      }
  }

  &:hover,
  &:active {

      .overlay {
          top: 0;
          visibility: visible;
          opacity: 1;

          .overlay-infos {
              top: 50%;
          }
      }
  }
}
