*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.stickyHeader_we{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}
nav a .logo{
  width: 30px;
  height: 45px;
  position: absolute;
  top: 15px;
}
.logoMain{
  display: flex;
  position: absolute;

}
.logoText{
  top: 48px;
  left: 25px;
  position: absolute;
  color: rgba(255, 255, 255, 0.288);
  font-weight: 900;
}
h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 0px;
  height: fit-content;
}
@media screen and (max-width: 600px) {
  nav a {
    display: block; /* show links on small screens */
    text-align: center; /* center align links */
  }
}
.header{
  border: 10px 10px solid red;
  flex-wrap: wrap;
}
.wrapper {
  width: 80%;
  margin: 0 100px;
}
nav{
  min-height: 70px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  border-radius: 0.2rem;
  z-index: 9999;
  -webkit-transition: all, 0.33s;
  transition: all, 0.33s;
  padding: 0 10px;
}
ul{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: -webkit-fill-available;
}
.authan{
  position: absolute;
  right: 10px;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 24px 24px;

  margin: 4px;
}
ul li a{
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
ul li a:hover{
  transition: 1s;
  font-size: 17px;
color:rgb(36, 36, 36); ;
}
.notShow{
  display: flex;
  align-items: center;
  height: inherit;
}
.logOutIcon mat-icon{
position: absolute;
right: 36px;
top: 24px;
}
.sigup{
  background-color: #008b99;
  padding: 8px;
  border-radius: 10px;
}

.show{
  display: flex;
  align-items: center;
  width: 80px;
  height: inherit;
}
.header_change {
  position: fixed;
  top: 2px;
  background-color:#014047;
  z-index: 10000;
  border-radius: 10px;
}
.header_change ul li a {
  color: rgb(255, 255, 255);
}
@media (max-width: 592px) {
ul li a{
  color: blue;
}
  }
