
#about{
  margin-bottom: 1rem;
  margin-top: 3rem;
}
main{
  display: flex;
 flex-direction: row;
 gap: 1px;
 margin-bottom: 16px;
}
.img_bg{
  background-image: url(https://firebasestorage.googleapis.com/v0/b/project-okour.appspot.com/o/sec2.jpg?alt=media&token=4d89b180-837c-469f-bc0a-f6f726db4aba);
  background-color:rgb(87 87 87);
  background-repeat: no-repeat;
  background-size: cover;
   height: 80vh;
   width: 35vw;
}
.overflow{
  overflow: auto;
}
.textmain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px;
  gap: 35px;
  background-color: teal;
}
.uppertext{
  color: #fff;
  font-size: 6rem;
  height: 50px;
  font-weight: 500;
  display: contents;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 15px;
}
.col-md-5,.col-lg-4,.col-md-7 .col-lg-8{
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}
@media (max-width: 592px) {
  *{
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .img_bg{
    min-width: 40vw;
  }
  .uppertext{
    font-size: 3rem;
  } hr{
    width: 50px;
  }
  p{
    width: 95%;
  }
  .col-md-5, .col-lg-4{
    width: 93%;
  }
  }
  @media (min-width: 392px) {
    hr{
      width: 8rem;
    }
  }
@media (min-width: 992px) {
  section .section-subtitle {
    font-size: 23px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
  hr{
    width: 50rem;
  }
}
@media (min-width: 992px) {
  section .section-subtitle {
    font-size: 23px;
  }
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mb-1,
.my-1 {
  margin-bottom: 1.25rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.2rem;
  max-width: 100%;
  height: auto;
}
.w-100 {
  width: 100% !important;
}
section .section-subtitle {
  font-size: calc(17px + (23 - 17) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 300;
  margin-bottom: 5px;
  opacity: .6;
}
@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
 section .section-subtitle {
    font-size: 23px;
  }
 section .section-title {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
