<section>
  <main>
    <div class="img_bg"></div>
    <div class="textmain">
      <div class="uppertext"> Sectors </div>
      <div class="textin section-subtitle">Welcome in sectors </div>
    </div>
  </main>
</section>

<section id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/project-okour.appspot.com/o/tourist.jfif?alt=media&token=531718f1-828b-4112-8336-a10e92cff00a"
          alt="e" class="w-100 img-thumbnail mb-3">
      </div>
      <div></div>
      <div class="col-md-7 col-lg-8">
        <h6 class="section-subtitle mb-1">Tourism </h6>
        <h6 class="section-title mb-3">Tourism in Jordan</h6>
        <p>Jordan is a sovereign Arab state in the Middle East. The capital, Amman, is Jordan's most populous city as
          well as the country's economic, political and cultural centre.

          Major tourist attractions in Jordan include UNESCO World Heritage Sites such as Petra and Umm ar-Rasas,
          ancient cities such as Amman, Aqaba, Madaba and Jerash, the Jordan River, the Dead Sea, Mount Nebo, and
          locations such as Wadi Rum and the Jordanian Highlands. Other opportunities include shopping, pop-culture
          tourism, medical tourism, educational and cultural tourism, hiking, snorkeling and scuba diving among the
          coral reefs in the Gulf of Aqaba.</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/project-okour.appspot.com/o/Hospitals.jpg?alt=media&token=1b4c0f2b-be6e-471d-b98d-a511d54e3e5c"
          alt="e" class="w-100 img-thumbnail mb-3">
      </div>
      <div></div>
      <div class="col-md-7 col-lg-8">
        <h6 class="section-subtitle mb-1">Medical</h6>
        <h6 class="section-title mb-3">Medical in Jordan</h6>
        <p>Life expectancy in Jordan was 74 years in 2013.[1][2] 99% of Jordan's population have access to clean water
          and sanitation despite it being one of the world's poorest in water resources. There were 203 physicians per
          100,000 people in the years 2000–2004, a proportion comparable to many developed countries and higher than
          most of the developing world.[3]

          According to 2003 estimates, the rate of prevalence of human immunodeficiency virus/acquired immune deficiency
          syndrome (HIV/AIDS) was less than 0.1 percent. According to a United Nations Development Program report,
          Jordan has been considered malaria-free since 2001; cases of tuberculosis declined by half during the 1990s,
          but tuberculosis remains an issue and an area needing improvement. Jordan experienced a brief outbreak of bird
          flu in March 2006. Noncommunicable diseases such as cancer also are a major health issue in Jordan. Childhood
          immunization rates have increased steadily over the past 15 years; by 2002 immunizations and vaccines reached
          more than 95 percent of children under five.[4</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/project-okour.appspot.com/o/tecnology.jpg?alt=media&token=8fffaf26-218c-479b-baef-c6eb38cafa5a"
          alt="e" class="w-100 img-thumbnail mb-3">
      </div>
      <div></div>
      <div class="col-md-7 col-lg-8">
        <h6 class="section-subtitle mb-1">Technology</h6>
        <h6 class="section-title mb-3">Technology in Jordan</h6>
        <p>The Higher Council for Science and Technology has identified five domains in which projects are to be
          implemented to operationalize the policy: the institutional framework; policies and legislation; science,
          technology and innovation infrastructure; human resources; and the science, technology and innovation
          environment. An analysis of the national innovation system revealed that research was making an insufficient
          contribution to economic growth and to solving chronic problems, such as those related to water, energy and
          food. For the 2013–2017 period, some 24 projects were proposed at a projected cost of around US$14 million
          that was yet to be allocated by the government as of 2015. These include a review of the national policy for
          science and technology, institutionalizing innovation, developing incentive schemes for researchers and
          innovators, founding technology incubators and setting up a research database. A unit is to be created within
          the Higher Council for Science and Technology specifically for expatriate Jordanian scientists.</p>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-lg-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/project-okour.appspot.com/o/real%20estat.jpg?alt=media&token=61e03ebd-4767-480a-af95-c77a0940770f"
          alt="e" class="w-100 img-thumbnail mb-3">
      </div>
      <div></div>
      <div class="col-md-7 col-lg-8">
        <h6 class="section-subtitle mb-1">Real Estate</h6>
        <h6 class="section-title mb-3">Real Estate in Jordan</h6>
        <p>Real estate is property consisting of land and the buildings on it, along with its natural resources such as
          crops, minerals or water; immovable property of this nature; an interest vested in this (also) an item of real
          property, (more generally) buildings or housing in general.[1][2] In terms of law, real is in relation to land
          property and is different from personal property while estate means the "interest" a person has in that land
          property.[3]

          Real estate is different from personal property, which is not permanently attached to the land, such as
          vehicles, boats, jewelry, furniture, tools and the rolling stock of a farm.</p>
      </div>
    </div>
  </div>
</section>
